@page "/"

@using ShowTrack.Client.Services
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Authorization
@using ShowTrack.Client.Models.Dtos

@attribute [Authorize]

@inject IShowsService ShowsService
@inject DialogService DialogService
@inject TooltipService TooltipService
@inject ILocalStorageService LocalStorage

<div class="page-body">
    <RadzenRow JustifyContent="JustifyContent.SpaceBetween" Class="grid-top-actions">
        <RadzenColumn Class="rz-pl-2">
            <RadzenSelectBar TValue="bool" Value="@_onlyDisplayOnGoingShows" ValueChanged="DisplayFilterChanged">
                <Items>
                    <RadzenSelectBarItem Text="All Shows" Value="false"/>
                    <RadzenSelectBarItem Text="On-going Shows" Value="true"/>
                </Items>
            </RadzenSelectBar>
        </RadzenColumn>
        <RadzenColumn Size="4" SizeMD="3" SizeSM="2" SizeLG="1">
            <RadzenButton ButtonStyle="ButtonStyle.Success" Text="New Show" Class="full-width" Click="AddShow" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenDataList @ref="_showDataList" AllowPaging="@(_showsCount > PAGE_SIZE)" Data="@_shows" IsLoading="@_isLoading" LoadData="LoadData" 
                    PageSize="@PAGE_SIZE" Count="@_showsCount" ShowPagingSummary="true"
                    TItem="ReadShowUiDto" WrapItems="true" PagerHorizontalAlign="HorizontalAlign.Left">

        <Template Context="show">
            <RadzenCard Class="full-width rz-p-0">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeSM="2">
                        <RadzenRow>
                            <RadzenColumn SizeSM="1" Class="pin-section d-md-block d-none">
                                <RadzenStack Style="height:70%;" JustifyContent="JustifyContent.Center">
                                    <RadzenIcon Icon="keep" Class="@(show.IsPinned ? "fill" : "outline")" @onclick="()=>TogglePin(show)" />
                                </RadzenStack>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeSM="11" Class="rz-p-4 show-title">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(show.Title)</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeSM="8" Class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeSM="1">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Season</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(show.CurrentSeason)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeSM="3">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Next Season On</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(show.ReleaseDateString)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeSM="2">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">State</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(show.State)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeSM="4" Style="max-height:40px">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Personal Rating</RadzenText>

                                <RadzenRating @bind-Value="show.PersonalRating" Change="rating => OnShowRatingChange(show, rating)"
                                              Disabled="@(!show.EnableRating)" MouseEnter="() => show.EnableRating = true" MouseLeave="() => show.EnableRating = false"/>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeSM="2" Class="rz-py-4">
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="5" Class="rz-pr-2">
                            @if (!show.ShowDeletePrompt)
                            {
                                    <RadzenButton Icon="@(show.Schedule is null ? "notification_add" : "notifications_active")"  Click="() => AddSchedule(show)" Class="rz-px-5 rz-px-sm-0"
                                                  MouseEnter="@(args => ShowTooltip(args, "Schedule", "show-schedule"))" MouseLeave="() => TooltipService.Close()"/>

                                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Warning" Click="() => UpdateShow(show)"
                                                  MouseEnter="@(args => ShowTooltip(args, "Edit", "show-edit"))" MouseLeave="() => TooltipService.Close()" Class="rz-px-5 rz-px-sm-0"/>

                                    <RadzenButton Icon="clear" ButtonStyle="ButtonStyle.Danger" Click="() => PromptDelete(show)"
                                                  MouseEnter="@(args => ShowTooltip(args, "Delete", "show-delete"))" MouseLeave="() => TooltipService.Close()" Class="rz-px-5 rz-px-sm-0"/>
                            }
                            else
                            {
                                    <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteShow(show)" Class="rz-px-6 rz-px-sm-3"/>
                                    <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="() => CancelDelete(show)" Class="rz-px-6 rz-px-sm-3"/>
                            }
                        </RadzenStack>
                    </RadzenColumn>

                </RadzenRow>
            </RadzenCard>
        </Template>

    </RadzenDataList>
</div>